<div class="login-container">
  <div class="login-info">
    <img src="dashboard.jpeg" alt="banner" />
  </div>
  <div class="login-left">
    <form>
      <label for="username">Username</label>
      <input
        type="username"
        id="username"
        name="username"
        placeholder="your username"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="******"
      />
      <button type="submit" class="btn btn-signin">Sign In</button>
    </form>
    <p><a href="#">Forgot password?</a></p>
  </div>
</div>
