<div class="login-container">
  <div class="login-banner">
    <img src="dashboard.jpeg" alt="banner" />
  </div>
  <div class="login-info">
    <mat-form-field>
      <mat-label>Enter your username</mat-label>
      <input matInput [type]="'text'" [(ngModel)]="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide() ? 'password' : 'text'"
        [(ngModel)]="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="onClickHidePassword($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-flat-button
      type="submit"
      class="btn btn-signin"
      (click)="onSubmitForm($event)"
    >
      Sign In
    </button>
    <p><a href="#">Forgot password?</a></p>
  </div>
</div>
